<div class="modal-backdrop" (click)="close.emit()">
  <div class="modal" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="close.emit()">✕</button>
    <h2>{{ user.name }}</h2>
    <div class="user-email"><a href="mailto:{{ user.email }}">{{ user.email }}</a></div>
    <div class="section">
      <h3>Address</h3>
      <div>{{ user.address.street }}, {{ user.address.suite }}</div>
      <div>{{ user.address.city }}, {{ user.address.zipcode }}</div>
      <a class="map-link" [href]="mapUrl" target="_blank">📍 View on map</a>
    </div>
    <div class="section">
      <h3>Contact</h3>
      <div><b>Phone:</b> {{ user.phone }}</div>
      <div><b>Website:</b> <a [href]="'http://' + user.website" target="_blank">{{ user.website }}</a></div>
    </div>
    <div class="section">
      <h3>Company</h3>
      <div><b>Name:</b> {{ user.company.name }}</div>
      <div><b>Catchphrase:</b> {{ user.company.catchPhrase }}</div>
      <div><b>Business:</b> {{ user.company.bs }}</div>
    </div>
  </div>
</div> 